table, tr, th, td{
    color: black;
    background: lightseagreen;
    font-family: "Lucida Console";
    border: solid 2px dimgrey;
    padding: 10px;
    text-align: center;
    border-collapse: collapse;
}